html, body{
overflow-x: hidden;
max-width: 100vw;
}

#search-wrapper{
margin-top: 60px;
}

h1 a.header{
padding-top: 60px;
display:block;
}

#menu-bar i, #menu-bar .icon-button{
  font-size: 32px;
}

.right-buttons{
  display:none;
}

#theme-toggle{
  display:none;
}

button, button:focus
{
  outline: none;
}

@media (max-width:1000px){
  .sidebar-visible body{
    overflow: hidden;
  }
}

.rust .mobile-nav-chapters
{
  background: rgba(0,0,0,0);
}


.menu-title, .fa{
  transition-duration: 0s;
}

.coal .menu-title,
.coal .fa
{
  color: white;
}

button{
    outline:none;
}

.sidebar-visible .menu-bar#menu-bar{
    position: fixed;
    width: calc(100% - var(--sidebar-width));
}

:not(pre):not(a) > .hljs{
  color:#eeeeee;
}

.sidebar-visible #sidebar-toggle .fa.fa-bars:before{
  content: "\f00d";
}
