html, body{
overflow-x: hidden;
max-width: 100vw;
}

#menu-bar i, #menu-bar .icon-button{
  font-size: 32px;
}

.right-buttons{
  display:none;
}

#theme-toggle{
  display:none;
}

button, button:focus
{
  outline: none;
}

@media (max-width:1000px){
  .sidebar-visible body{
    overflow: hidden;
  }
}

.rust .mobile-nav-chapters
{
  background: rgba(0,0,0,0);
}


.coal .menu-title,
.coal .fa
{
  color: white;
}
